@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nanum+Gothic&family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nanum+Gothic&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nanum+Gothic&family=Raleway:ital,wght@1,100&family=Roboto:wght@300;900&display=swap');
h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
color: rgb(4, 122, 0)
}
header{
    text-align: left;
}
nav ol li a
    {
        text-decoration: none;
        color: black;
    }
nav li{
    list-style: none;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: x-large;
    text-align: left;
    }
.flex-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    }
nav ol{
    background-color:rgb(185, 185, 185);
}
section {
color:blue;
    }
strong{
    font-size: xx-large;
    color:rgb(61, 61, 61);}
    
h2{text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: large;
}
h3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    color: green;
}
header
{text-align: center;}
footer{
    text-align: center;
}
h4{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(96, 96, 96);
}
.TRADE{
    text-align: start;
}
.trading{
    text-align: center;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    background-color: rgb(211, 211, 211);
    padding: 1%;
    color: rgb(3, 141, 26);
}
.container{
    display:flex;
    justify-content: space-between;
    background-color:beige;
    flex-wrap: wrap;
    transform:translateX(-10px);
}
.container div{
    flex-direction: row;
}

@media (max-width:300px){
    .flex-container{
        flex-direction: column;
        
    }
    .flex-container div{
        width:100%;
    }
}
.container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: gray;
    font-family: 'Nanum Gothic', sans-serif;
    width: 60%;
}

.formacion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2em;
    gap:5rem;
}

.caja1{
    font-size: 3em;
    text-align: center;
    font-family: 'Joan', serif;
    color: rgb(83, 83, 83);
    border: 1rem black;
}
.caja2{
    font-size: 2em;
    font-weight: 600;
}

.linear-gradient{
    background: linear-gradient(to top,green, blue);
    }
    .boton{
    display: inline-flex;
    width:200px;
    height: 80px;
    align-items: center;
    background: linear-gradient(rgb(255, 102, 0), red);
    color:white;
    border:none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    cursor:pointer;
    transition: .3s ease all;
    border-radius: 10%;
}
.boton:hover{
    transform: translateY(10px);
}
.bg-bootstrap{
    background-color: gray;
}
#botonera img{
    width: 200px;
}
.nav-item{
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    font-size: xx-large;
}
#navbarNav{
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(184, 184, 184);
}
.navbar-nav{
    justify-content: space-around;
}
.digital{
    display:flex;
    justify-content: space-evenly
    

}
.texto1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5em;
    font-size: 4vh;
    text-align: center;
    font-weight: 700;
    color:black
}
.texto2{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    text-align: center;
    color:black
}





